<?xml version="1.0" encoding="utf-8"?>
<!-- Rename this to .runsettings for it to take effect -->
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- API Key for top.gg bot -->
      <API_KEY>MY_API_KEY</API_KEY>
      <BOT_ID>123456</BOT_ID>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
